<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="ch.qos.logback.core.FileAppender"/>

    <appender name="console" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>%d{ISO8601} %5p [%t {%X}] %c{1}: %m%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="FileAppender">
        <file>logs/application.log</file>
        <append>true</append>
        <immediateFlush>false</immediateFlush>

        <encoder class="PatternLayoutEncoder">
            <pattern>%d{ISO8601} %5p [%t {%X}] %c{1}: %m%n</pattern>
        </encoder>
    </appender>

    <root level="info">
<!--        uncomment if you need console logging -->
<!--        <appender-ref ref="console"/>         -->
        <appender-ref ref="file"/>
    </root>
</configuration>
